.bg_image_one {
    background-image: url("../image/png/firstImage.png");
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_image_two {
    background-image: url("../image/png/secondimg.png");
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loaderone .span_one {
    animation-delay: 200ms;
}

.loaderone .span_two {
    animation-delay: 2s;
}

.loaderone .span_three {
    animation-delay: 4s;
}

.loaderone .span_four {
    animation-delay: 7s;
}


.loaderone span {
    animation: image_one_key 9s infinite linear;
}

@keyframes image_one_key {
    0% {
        width: 50px;
        height: 50px;
        transform: translate(0px, 0px) rotate(0deg);
        background-image: url("/assets/image/svg/one.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }

    50% {
        width: 50px;
        height: 50px;
        top: 45%;
        background-image: url("/assets/image/svg/one.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: rotate(180deg);
        opacity: 1;
    }

    51% {
        width: 55px;
        height: 55px;
        top: 46%;
        background-image: url("/assets/image/svg/Section_two.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: rotate(180deg);
        opacity: 1;
    }

    75% {
        width: 55px;
        top: 75%;
        background-image: url("/assets/image/svg/Section_two.svg");
        transform: rotate(300deg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 1;
    }

    100% {
        height: 55px;
        top: 100%;
        background-image: url("/assets/image/svg/Section_two.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: rotateZ(360deg);
        opacity: 1;
    }
}